contract/pom.xml
server/logs/*.log
client/logs/*.log
.project
.settings/
client/.classpath
client/.project
client/.settings/
client/target/
consoleclient/.classpath
consoleclient/.project
consoleclient/.settings/
consoleclient/target/
contract/.classpath
contract/.project
contract/.settings/
contract/target/
server/.classpath
server/.project
server/.settings/
server/target/
util/.classpath
util/.project
util/.settings/
util/target/
